
label{
    display: flex;
    flex-direction: columns;
    margin-bottom: 10px;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}

 #txtId,#txtTitulo,#txtDescripcion,#txtCantBaños,#txtCantAutos,#txtDormitorios, #txtPrecio{
    margin-bottom: 10px;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 20px;

} 

#FieldTransaccion{
    color: white;
    border: none ;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
}

#legendaTrans{
    margin-bottom: 10px;
}

#formularioAlta, #selTabla{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: #242424;
}

/* #FieldAlta{
    margin-bottom: 10px;
    border-radius: 20px;
    
} */

.pepe{
    margin-bottom: 10px;
    border-radius: 20px;
    border-color: white;
    border: white solid;
    }
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


/* table{
    border-collapse: collapse ;
    width: 80%;
    margin: 0 auto;
    
} */

#btnGuardar,#btnMod,#btnBorrar, #btnCancelar{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    min-width: 70px;
    text-align:center;
    font-weight: 600;
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#242434;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
    border-radius:20px;
    margin-bottom: 10px;
}

/* th, td{
    border: 1px solid white ;
    width:100px;
    height:28px;
    line-height:28px;
    padding:0 8px;
    color: white;
} */


/* 
#selTabla{
    text-align: center;
} */

#Filtro{
    margin-bottom: 10px;
}

.custom-thead {
    background-color: black;
    color: white;
  }

  #divLoader{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .oculto{
    display: none;
}